{
    "apps": [
    {
        "exec_mode": "cluster",
        "script": "./server.js",
        "instances": "max",
        "autorestart": true,
        "node_args": ["--stack-size=1024"],
        "name": "nextjs-boilerplate",
        "env": {
            "PORT": 3000,
            "NODE_ENV": "production"
        },
        "error_file": "../nodelog/nextjs-boilerplate.err.log",
        "out_file": "../nodelog/nextjs-boilerplate.out.log"
    }
]
}