body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: $font-m;
  line-height: $font-m-sp;
  color: $color-secondary;
  background-color: $color-primary;
  overflow-x: hidden;
  letter-spacing: 0.1rem;
}
