// $color-white: #fff;
$color-black: #000;
$color-primary: #fff;
$color-secondary: #000;

//FONT 1 REM = 10PX
$font-xs: 0.9rem;
$font-xs-sp: 1.5rem;

$font-s: 1.2rem;
$font-s-sp: 1.6rem;

$font-m: 1.4rem;
$font-m-sp: 2rem;

$font-l: 1.6rem;
$font-l-sp: 2.2rem;

$font-xl: 1.8rem;
$font-xl-sp: 2.7rem;

$font-xxl: 2.1rem;
$font-xxl-sp: 3rem;

$font-xxxl: 3.6rem;
$font-xxxl-sp: 4.7rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

//DISTANCES
$ds-xxs: 0.3rem;
$ds-xs: 0.6rem;
$ds-s: 0.9rem;
$ds-m: 1.2rem;
$ds-l: 1.5rem;
$ds-xl: 1.8rem;
$ds-xxl: 2.1rem;

// BORDER
// $std-border: 1px solid #d4dce6;
